* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  padding: 0 5%;
}


main {
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}


section {
  background-color: #F3F6F8;
  border-style: solid;
  border-color: grey;
  border-radius: 5px;
  font-size: 1.6rem;
  width: 400px;
}

form,
h1 {
  display: flex;
  flex-direction: column;
  padding: 5% 7%;
}

input,
select {
  padding: 5px 0;
  margin-bottom: 15px;
}

p {
  height: 1.6rem;
  width: 55%;
  margin: 2px 0;
  color: darkblue;
  padding: 3%;
  font-size: 1.8rem;
  background-color: white;
}

input[type="button"] {
  background-color: #226CA3;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
}

#label2,
#person2 {
  display: none;
}